body{
    
    font-family: 'Times New Roman', Times, serif;
}
.nombre{
    text-align: center;
    color:black;
}
.opcionMenu{
    display: inline-block;
    margin-left: -30px;
}
#menu{
    text-align: center;
    
}
a{
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}
#datos{
    color: black;
    text-align: center;
}
.lista{
    display: inline;
}
.informacion{
    font-size:30px;
    padding-bottom: 20px;
}
.tabla{
    padding-top: 100px;
}
#marco.tr,td,th{
    border: 2px solid #FD9A28;
    color: blanchedalmond;
    border-collapse: collapse;
}
#parrafo{
    color: black;
    font-size: 25px;
    
}

.carousel-inner img {
    height: 500px;
  }
.card img{
    height: 250px;
}

